# speech to text and text to speech
deepgram-sdk>=3.0.0
realtimetts[kokoro,coqui,orpheus,openai]==0.5.5
websockets>=12.0

# webserver dependencies
fastapi
uvicorn

# configuration
python-dotenv

# llm providers
ollama
openai